html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**RESET CSS**/
.wrapper{
	width: 100vw;
    height: 100vh;
}
.red{
	background-color: red;
    height: 10%;
	width: 34%;
	margin-top: 15px;
    float: left;
}

.orange{
	background-color: orange;
	float: right;
	height: 10%;
	margin-top: 15px;
    width: 65%;
}
.green{
    height: 70%;
    width: 100%;
    background-color: green;
    float: right;
    margin-top: 1%;
}
.brown{
    height: 20%;
    width: 32.66%;
    background-color: brown;
    float: left;
    margin-right: 1%;
    margin-top: 1%;
}

.blue{
    height: 20%;
    width: 32.66%;
    background-color: blue;
    float: left;
    margin-right: 1%;
     margin-top: 1%;
}

.purple{
    height: 20%;
    width: 32.66%;
    background-color: purple;
    float: left;
     margin-top: 1%;
}
@media(max-width:320px){
    .red{
        width: 100%;
        height: 600px;
        position: absolute;
        margin-top: 220px
    }


    .green{
        margin: 0;
        height: 110px;
        position: absolute;
    }

    .purple{
        width: 100%;
        height: 100px;
        position: absolute;
        margin-top: 115px;
    }

    .orange{
   display: none;
    }

    .brown{
      display: none;
    }

    .blue{
      display: none;
    }
}
@media (min-width:321px) and (max-width:1440px){
	.brown{
		display: none;
		 }
	.orange{
        position: absolute;
        width: 34vw;
    }

    .purple{
        position: absolute;
        height: 10vh;
        width: 64vw;
        margin-left: 36vw;

    }

    .red{
        position: absolute;
        width: 100%;
        height: 61%;
        margin-top: 14vh;
    }


    .green{
        height: 23vh;
        width: 49vw;
        position: absolute;
        margin-top: 77vh;
    }


    .blue{
        height: 23vh;
        width: 49vw;
        position: absolute;
        margin-top: 77vh;
        margin-left: 51vw;
    }
}
